<h3 class="header">Left or right?</h3>

<div class="pics">
    <div class="pic-container left" onclick="document.forms['choose0'].submit()">
        <img class="pic" src="<%= @puppies[0].path %>"/>
    </div>

    <div class="pic-container right" onclick="document.forms['choose1'].submit()">
        <img class="pic" src="<%= @puppies[1].path %>"/>
    </div>
</div>

<form id="choose0" method="post" action="/score">
    <input hidden name="chosen" value="<%=@puppies[0].id %>"/>
    <input hidden name="notchosen" value="<%=@puppies[1].id %>"/>
</form>

<form id="choose1" method="post" action="/score">
    <input hidden name="chosen" value="<%=@puppies[1].id %>"/>
    <input hidden name="notchosen" value="<%=@puppies[0].id %>"/>
</form>

<%= link_to 'Seen these two before? Get more puppies!', more_path, {:class=>"more-link"} %>
<%= link_to 'Or see the current rankings ->', standings_path, {:class=>"rankings-link"} %>